* {
	padding: 0;
	margin: 0;
	font-family: $font-family;
	box-sizing: border-box;
	scroll-behavior: smooth;
	// border: 1px dashed red;
}

body {
	background: #212121 !important;
	.line-bg {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	.line-bg:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		height: 1px;
		background-color: $font-color;
		opacity: 0.6;
	}
}

.header-orig {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 6px;
	padding-top: 12px;
	.logo {
		.name {
			color: $primary;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: $font-size-md;
			margin-bottom: 0;
			cursor: pointer;
			text-decoration: none;
			font-weight: $font-weight-bold;

			&:hover {
				color: $primary_dark;
			}
		}

		.portfolio {
			margin-top: 0;
			color: $font-color;
			letter-spacing: 4px;
			font-weight: 300;
			font-size: $font-size-xxs;
		}
	}

	.list-items ul {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
		list-style: none;

		li a {
			color: $font-color;
			text-decoration: none;
			padding: 10px 20px;
			font-size: $font-size-xs;
			font-weight: $font-weight-light;
			letter-spacing: 1px;
		}

		.active .active-a {
			font-weight: $font-weight-regular;
			font-size: 15px;
		}
	}

	.button {
		button {
			color: $font-color;
			background: $primary;
			border: none;
			padding: 10px 20px;
			border-radius: 0px !important;
			font-weight: $font-weight-semibold;

			a {
				color: $font-color;
				text-decoration: none;
				svg {
					margin-left: 4px;
					margin-bottom: 4px;
				}
			}

			&:hover {
				background: $primary_dark;
			}
		}
	}
}

.about {
	// padding-top: 30px;
	.title {
		font-size: 70px;
		font-weight: $font-weight-bold;
		color: $font-color;
		margin-bottom: 40px;
		padding-top: 50px;
	}

	.sm-icon {
		display: flex;
		justify-content: center;
		// align-items: center;
		font-size: 22px;

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			width: 36px;
			height: 36px;
			text-decoration: none;
			color: $primary;
			margin: 0px 12px;
			transition: all 0.2s ease-in-out;
			border: 1px solid $primary;

			&:hover {
				color: $font-color;
				background-color: $primary;
			}
		}
	}

	.about-card {
		border: none !important;
		border-radius: 0px !important;
		.card-body {
			div {
				.about-image {
					width: 280px;
					height: 100%;
					margin-right: 20px;
					padding: 12px !important;
					background: $font-color !important;
					box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
					transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
					object-fit: cover;
					&:hover {
						transform: scale(1.2) rotate(-3deg);
						opacity: 1 !important;
					}
				}
			}
			.m-about {
				.about-title {
					margin-top: 30px;
					font-size: $font-size-md;
					font-weight: $font-weight-bold;
				}
			}
			.interest {
				margin-top: 30px;
				font-size: $font-size-md;
				font-weight: $font-weight-bold;
			}
			.about-description {
				margin-top: 5px;
				font-size: $font-size-sm;
				line-height: 25px;
				font-weight: $font-weight-regular;
				span {
					a {
						color: $primary;
						font-weight: $font-weight-semibold;
						text-decoration: none;
					}
				}
			}
			.button {
				margin-top: 20px;
				button {
					color: $font-color;
					background: $primary;
					border: none;
					padding: 10px 20px;
					border-radius: 0px;
					font-weight: $font-weight-semibold;

					svg {
						margin-bottom: 4px;
						margin-left: 4px;
					}

					&:hover {
						background: $primary_dark;
					}
				}
			}
		}
	}
}

.tech-stack {
	margin-top: 70px;
	margin-bottom: 30px;

	.title {
		color: $font-color;
		font-size: $font-size-md;
		font-weight: $font-weight-regular;
		letter-spacing: 1px;
	}
	.box {
		margin-top: 20px;
		.col-lg-2 .boxes {
			padding: 15px !important;
			border-radius: 0px;
			background: $font-color;
			display: flex;
			justify-content: start;
			align-self: center;
			// min-width: 120px;

			h6 {
				align-items: center;
				display: flex;
				justify-content: center;
				margin-left: 12px;
				font-weight: $font-weight-semibold;
				font-size: $font-size-xs;
				margin-bottom: 0;
			}

			img {
				width: auto;
				height: 45px;
			}
		}
	}
}

.certification {
	margin-top: 70px;
	margin-bottom: 30px;
	.title {
		color: $font-color;
		font-size: $font-size-md;
		font-weight: $font-weight-regular;
		letter-spacing: 1px;
	}

	.box {
		margin-top: 20px;
		.card {
			border-radius: 0px;
			.card-body {
				.title-cert {
					font-weight: $font-weight-semibold;
					font-size: $font-size-sm;
					margin: 0;
				}
				.from {
					font-weight: $font-weight-regular;
					font-size: $font-size-xxs;
					margin-top: 0;
				}

				.view {
					margin-bottom: 0px;
					a {
						color: $primary;
						text-decoration: none;
						svg {
							margin-left: 4px;
							margin-bottom: 4px;
						}
					}
				}
			}
		}
	}
}

// .resume {
// 	margin-top: 70px;
// 	margin-bottom: 70px;
// 	.title {
// 		color: $font-color;
// 		font-size: $font-size-md;
// 		font-weight: $font-weight-regular;
// 		letter-spacing: 1px;
// 	}
// 	.card {
// 		border: none !important;
// 		margin-top: 20px;
// 		border-radius: 0px;
// 		.card-body {
// 			.description {
// 				text-align: center;
// 			}
// 			.button {
// 				text-align: center;
// 				button {
// 					color: $font-color;
// 					background: $primary;
// 					border: none;
// 					padding: 10px 20px;
// 					border-radius: 0px;
// 					font-weight: $font-weight-semibold;
// 					letter-spacing: 1px;

// 					&:hover {
// 						background: $primary_dark;
// 					}
// 				}
// 			}
// 		}
// 	}
// }

.footer {
	margin-top: 30px;
	padding-bottom: 10px;
	div {
		h6 {
			color: $font-color;
		}
		.sm-icon {
			text-align: center;
			font-size: 26px;
			a {
				color: $primary;
				padding-right: 15px;
				&:hover {
					color: $primary_dark;
				}
			}
		}
	}

	div {
		.list-items ul {
			margin-top: 24px;
			display: flex;
			justify-content: space-between;
			list-style: none;

			li a {
				color: $font-color;
				text-decoration: none;
				padding-left: 15px;
				font-size: $font-size-xs;
				font-weight: $font-weight-light;
				letter-spacing: 1px;
			}
		}
	}

	.copy-right {
		margin-top: 30px;
		color: $font-color;
		font-size: $font-size-xxs;
		font-weight: $font-weight-light;
		text-align: center;
		letter-spacing: 2px;
	}
}

/* desktop display */
@media only screen and (min-width: 992px) {
	.list-items-mobile {
		display: none;
	}
}

/* tablet display */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.list-items-mobile {
		display: none;
	}

	.about {
		// padding-top: 30px;
		.title {
			font-size: 60px;
			font-weight: $font-weight-bold;
			color: $primary;
			margin-bottom: 50px;
			padding-top: 30px;
			line-height: 55px;
		}
	}
}

/* mobile display */
@media only screen and (max-width: 767px) {
	.header-orig {
		padding-top: 10px;
		.list-items {
			display: none;
		}

		.list-items-mobile ul {
			display: flex;
			justify-content: space-between;
			list-style: none;
			padding: 0px;

			li a {
				color: $font-color;
				text-decoration: none;
				font-size: $font-size-xs;
				font-weight: $font-weight-light;
			}

			.active .active-a {
				font-weight: $font-weight-regular;
				font-size: 15px;
			}
		}
	}

	.about {
		// padding-top: 30px;
		.title {
			font-size: 60px;
			font-weight: $font-weight-bold;
			color: $font-color;
			margin-bottom: 50px;
			padding-top: 30px;
			line-height: 55px;
			text-align: center;
		}

		.sm-icon {
			display: none;
		}

		.about-card {
			min-width: 300px;
			padding: 5px !important;
			.card-body {
				display: block !important;
				div {
					.about-image {
						width: 100%;
						height: 100%;
						margin-right: 20px;
						box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
						transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
						&:hover {
							transform: scale(1.1) rotate(-3deg);
							opacity: 1 !important;
						}
					}
				}
				.m-about {
					.about-title {
						margin-top: 30px;
						font-size: $font-size-md;
						font-weight: $font-weight-bold;
					}
				}
				.about-description {
					margin-top: 5px;
					font-size: $font-size-sm;
					line-height: 25px;
					font-weight: $font-weight-regular;
				}
				.interest {
					margin-top: 20px;
					font-size: $font-size-md;
					font-weight: $font-weight-bold;
				}

				.button {
					margin-top: 20px;
					text-align: center;
					button {
						color: $font-color;
						background: $primary;
						border: none;
						padding: 10px 20px;
						border-radius: 0px;
						font-weight: $font-weight-semibold;

						svg {
							margin-bottom: 4px;
							margin-left: 4px;
						}

						&:hover {
							background: $primary_dark;
						}
					}
				}
			}

			.custom-shape-divider-top-1682875712,
			.custom-shape-divider-bottom-1682875551 {
				display: none !important;
			}
		}
	}

	.tech-stack {
		margin-top: 30px;
		margin-bottom: 30px;

		.title {
			color: $font-color;
			font-size: $font-size-md;
			font-weight: $font-weight-regular;
			letter-spacing: 1px;
		}
	}

	.footer {
		margin-top: 30px;
		padding-bottom: 10px;
		div {
			h6 {
				color: $font-color;
			}
			.sm-icon {
				text-align: center;
				font-size: 26px;
				a {
					color: $primary;
					padding-right: 0px;
					&:hover {
						color: $primary_dark;
					}
				}
			}
		}

		.copy-right {
			margin-top: 10px !important;
			color: $font-color;
			font-size: $font-size-xxs;
			font-weight: $font-weight-light;
			text-align: center;
			letter-spacing: 2px;
		}

		.social-module {
			display: block !important;

			div {
				h6 {
					display: none;
				}

				.sm-icon {
					a {
						max-width: 100%;
						margin: 0px 10px;
					}
				}
			}

			.list-items {
				display: none;
			}
		}
	}

	// .resume {
	// 	.card {
	// 		border: none !important;
	// 		margin-top: 20px;
	// 		border-radius: 0px;
	// 		padding: 0px;
	// 		.custom-shape-divider-top-1682875712,
	// 		.custom-shape-divider-bottom-1682875551 {
	// 			display: none;
	// 		}
	// 		.card-body {
	// 			.description {
	// 				text-align: center;
	// 			}
	// 			.button {
	// 				text-align: center;
	// 				button {
	// 					color: $font-color;
	// 					background: $primary;
	// 					border: none;
	// 					padding: 10px 20px;
	// 					border-radius: 0px;
	// 					font-weight: $font-weight-semibold;
	// 					letter-spacing: 1px;

	// 					&:hover {
	// 						background: $primary_dark;
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}
	// }
}
