.experience {
	// padding-top: 30px;
	.title {
		font-size: 80px;
		font-weight: $font-weight-bold;
		color: $font-color;
		margin-bottom: 40px;
		// padding-top: 50px;
		margin-top: -50px;
	}

	.expi-content {
		.card {
			margin-bottom: 100px;
			border-radius: 0px !important;
			.img-expi {
				display: flex;
				justify-content: space-between;
				img {
					transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
					width: 309.7px;
					height: auto;
					object-fit: cover;
					border: 1px solid #ffffff;
					&:hover {
						transform: scale(1.3) rotate(-3deg);
					}
				}
			}
			.card-body {
				div {
					.expi-title {
						font-size: $font-size-lg;
						font-weight: $font-weight-bold;
						margin-bottom: 0px;
					}
					.expi-sub-title {
						margin-top: 3px;
						font-size: $font-size-sm;
						color: gray;
					}
				}
				.d-flex {
					.year {
						align-items: center;
						display: flex;
						justify-content: center;
						font-size: 50px;
						color: $primary;
						font-weight: $font-weight-bold;
						// transform: rotate(20deg);
					}
				}

				.expi-description {
					margin-top: 8px;
					font-size: $font-size-sm;
					line-height: 25px;
					font-weight: $font-weight-regular;
				}
			}
		}
	}
}

/* desktop display */
@media only screen and (min-width: 992px) {
	.list-items-mobile {
		display: none;
	}
}

/* tablet display */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.list-items-mobile {
		display: none;
	}

	.about {
		// padding-top: 30px;
		.title {
			font-size: 60px;
			font-weight: $font-weight-bold;
			color: $primary;
			margin-bottom: 50px;
			padding-top: 30px;
			line-height: 55px;
		}
	}
}

/* mobile display */
@media only screen and (max-width: 767px) {
	.header-orig {
		padding-top: 10px;
		.list-items {
			display: none;
		}

		.list-items-mobile ul {
			display: flex;
			justify-content: space-between;
			list-style: none;
			padding: 0px;

			li a {
				color: $font-color;
				text-decoration: none;
				font-size: $font-size-xs;
				font-weight: $font-weight-light;
			}

			.active .active-a {
				font-weight: $font-weight-regular;
				font-size: 15px;
			}
		}
	}

	.experience {
		.title {
			font-size: 60px;
			font-weight: $font-weight-bold;
			color: $font-color;
			margin-bottom: 50px;
			text-align: center;
			margin-top: -50px;
		}
		.expi-content {
			.card {
				margin-bottom: 100px;
				border-radius: 0px !important;
				.img-expi {
					display: block !important;
					img {
						width: 100% !important;
						height: auto;
						object-fit: cover;
						border: 1px solid #ffffff;
						transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
						&:hover {
							transform: scale(1.1) rotate(-3deg);
							opacity: 1 !important;
						}
					}
				}
				.card-body {
					div {
						width: 100% !important;
						.expi-title {
							text-align: center !important;
							font-size: $font-size-lg;
							font-weight: $font-weight-bold;
							margin-bottom: 0px;
						}
						.expi-sub-title {
							text-align: center !important;
							margin-top: 3px;
							font-size: $font-size-sm;
							color: gray;
						}
					}
					.d-flex {
						.year {
							align-items: center;
							display: none !important;
							justify-content: center;
							font-size: 50px;
							color: $primary;
							opacity: 0.4;
							font-weight: $font-weight-bold;
							// transform: rotate(20deg);
						}
					}

					.expi-description {
						text-align: center !important;
						margin-top: 8px;
						font-size: $font-size-sm;
						line-height: 25px;
						font-weight: $font-weight-regular;
					}
				}
			}
		}
	}

	.footer {
		margin-top: 30px;
		padding-bottom: 10px;
		div {
			h6 {
				color: $font-color;
			}
			.sm-icon {
				text-align: center;
				font-size: 26px;
				a {
					color: $primary;
					padding-right: 0px;
					&:hover {
						color: $primary_dark;
					}
				}
			}
		}

		.copy-right {
			margin-top: 10px !important;
			color: $font-color;
			font-size: $font-size-xxs;
			font-weight: $font-weight-light;
			text-align: center;
			letter-spacing: 2px;
		}

		.social-module {
			display: block !important;

			div {
				h6 {
					display: none;
				}

				.sm-icon {
					a {
						max-width: 100%;
						margin: 0px 10px;
					}
				}
			}

			.list-items {
				display: none;
			}
		}
	}
}
