* {
	padding: 0;
	margin: 0;
	font-family: $font-family;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	.line-bg {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	.line-bg:before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		height: 1.4px;
		background-color: inherit;
		opacity: 0.4;
	}
}

.switch {
	cursor: pointer;
}

.dark {
	background: #212121 !important;
}

.white {
	background-color: #ffffff !important;
}

.header-orig {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 6px;
	padding-top: 12px;
	.logo {
		.name {
			color: $primary;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: $font-size-md;
			margin-bottom: 0;
			cursor: pointer;
			text-decoration: none;
			font-weight: $font-weight-bold;

			&:hover {
				color: $primary_dark;
			}
		}

		.portfolio {
			margin-top: 0;
			// color: $font-color;
			letter-spacing: 4px;
			font-weight: 400;
			font-size: $font-size-xxs;
		}
	}

	.list-items ul {
		display: flex;
		justify-content: space-between;
		margin-top: 20px;
		list-style: none;

		li a {
			color: inherit;
			text-decoration: none;
			padding: 10px 20px;
			font-size: $font-size-xs;
			font-weight: $font-weight-light;
			letter-spacing: 1px;
		}
	}

	.button {
		button {
			color: $font-color;
			background: $primary;
			border: none;
			padding: 10px 20px;
			border-radius: 0px !important;
			font-weight: $font-weight-semibold;

			a {
				color: $font-color;
				text-decoration: none;
				svg {
					margin-left: 4px;
					margin-bottom: 4px;
				}
			}

			&:hover {
				background: $primary_dark;
			}
		}
	}
}

.footer {
	margin-top: 30px;
	padding-bottom: 10px;
	div {
		h6 {
			color: $font-color;
		}
		.sm-icon {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 22px !important;
			margin-top: 20px;

			a {
				padding-right: 0px !important;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 50%;
				width: 36px;
				height: 36px;
				text-decoration: none;
				color: $font-color !important;
				margin-right: 15px;
				transition: all 0.3s ease-in-out;
				border: 1px solid $font-color;

				&:hover {
					color: $primary !important;
					background-color: $font-color !important;
				}
			}
		}
	}

	div {
		.list-items ul {
			margin-top: 24px;
			display: flex;
			justify-content: space-between;
			list-style: none;

			li a {
				color: $font-color;
				text-decoration: none;
				padding-left: 15px;
				font-size: $font-size-xs;
				font-weight: $font-weight-light;
				letter-spacing: 1px;
			}
		}
	}

	.copy-right {
		margin-top: 30px;
		color: $font-color;
		font-size: $font-size-xxs;
		font-weight: $font-weight-light;
		text-align: center;
		letter-spacing: 2px;
	}
}
